/* ------------------------------------------------------------------------

    PARENTS 

------------------------------------------------------------------------ */

* {
  box-sizing: border-box;
  border: none;
  width: 100%;
}

:root {
  font-family: "Quicksand", sans-serif;
  /* build */
  --highlight1: rgb(0, 38, 176);
  --highlight2: rgb(0, 255, 0);
  /* modular */
  --body: rgb(0, 0, 44);
  --delete: rgb(188, 0, 132);
  --submit: blue;
  --err: red;
  /* li cats */
  --give: rgb(161, 0, 158);
  --debt: rgb(255, 0, 0);
  --util: rgb(255, 230, 0);
  --wall: rgb(0, 255, 255);
  --sub: rgb(255, 85, 0);
  --other: rgb(7, 0, 209);
  --income: rgb(0, 255, 76);
  /* footer - for sticky footer */
  --footerHeight: auto;
}

body {
  background: var(--body);
  color: white;
}

#wrapper {
  width: 95%;
  min-height: 100vh;
}

body {
  font-size: 100%;
}

h1 {
  font-size: 2.5em;
  text-transform: capitalize;
}

h2 {
  font-size: 1.875em;
}

p {
  font-size: 0.875em;
}

/* ------------------------------------------------------------------------

    DRYLAND 

------------------------------------------------------------------------ */

div,
ul,
body,
.title,
.text,
.amt,
.edit-text,
.edit-amt,
#balance span,
footer {
  display: flex;
  align-items: center;
}

.title,
button,
#balance span,
.amt,
.edit-amt {
  justify-content: center;
}

.income,
#balance,
.outgo {
  font-size: 1.2em;
}

.text,
.amt,
input,
center {
  padding: 10px;
}

div,
ul,
body {
  flex-direction: column;
}

input,
button,
li,
li span {
  height: 50px;
}

li,
input {
  text-transform: capitalize;
}

#wrapper,
center {
  max-width: 500px;
}

/* ------------------------------------------------------------------------

    TAGS 

------------------------------------------------------------------------ */

ul {
  list-style: none;
  padding: 0;
  border-radius: 20px;
  margin: 0;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: var(--wall);
}

input {
  color: white;
  background: var(--body);
}

footer {
  height: var(--footerHeight);
  flex-direction: column-reverse;
}

button {
  color: white;
  cursor: pointer;
}

li[data="give"] {
  border-left: 5px solid var(--give);
}

li[data="debt"] {
  border-left: 5px solid var(--debt);
}

li[data="utility"] {
  border-left: 5px solid var(--util);
}

li[data="wall"] {
  border-left: 5px solid var(--wall);
}

li[data="sub"] {
  border-left: 5px solid var(--sub);
}

li[data="other"] {
  border-left: 5px solid var(--other);
}

/* ------------------------------------------------------------------------

    CLASSES 

------------------------------------------------------------------------ */

.grid {
  display: grid;
  grid-template-columns: auto 100px 60px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.col-1 {
  grid-column: 1/2;
}

.col-2 {
  grid-column: 2/3;
}

.col-3 {
  grid-column: 3/4;
}

.delete {
  background: var(--body);
}

.submit {
  background: var(--submit);
}

.br {
  border-right: 1px var(--body) solid;
}

.err {
  display: none;
  position: absolute;
  width: auto;
  z-index: -1;
}

.err-msg {
  position: relative;
  left: 20px;
  font-size: 0.8em;
  color: var(--err);
}

.title {
  z-index: -2;
}

.income {
  flex-direction: column-reverse;
}

/* ------------------------------------------------------------------------

    IDs 

------------------------------------------------------------------------ */

#balance {
  margin: 20px 0;
}

#balance li {
  padding: 20px;
  height: auto;
  border: 1px white solid;
  border-radius: 20px;
}

#balance span {
  margin: 10px;
}

#balance span:first-child {
  color: var(--highlight2);
}

#balance span:nth-child(2) {
  color: var(--util);
}

#income-input input,
#outgo-input input {
  background: var(--highlight1);
}

/* ------------------------------------------------------------------------

    RESETS 

------------------------------------------------------------------------ */

.edit-text,
.edit-amt {
  display: none;
}

#income-list li {
  border: none;
  border-left: 5px solid var(--income);
}
