/* ------------------------------------------------------------------------

    PARENTS 

------------------------------------------------------------------------ */

* {
  box-sizing: border-box;
  border: none;
  width: 100%;
}

:root {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  --highlight1: yellow;
  --highlight2: rgb(0, 255, 0);
  --body: rgb(0, 0, 44);
  --even: rgb(137, 0, 137);
  --odd: rgb(166, 0, 171);
  --delete: rgb(188, 0, 132);
  --submit: blue;
  --footerHeight: 80px;
}

body {
  background: var(--body);
  color: white;
}

#wrapper {
  width: 95%;
  min-height: calc(100vh - var(--footerHeight));
}

/* ------------------------------------------------------------------------

    DRYLAND 

------------------------------------------------------------------------ */

div,
ul,
body,
.title,
.text,
.amt,
.edit-text,
.edit-amt,
#balance span,
footer {
  display: flex;
  align-items: center;
}

.title,
button,
#balance span,
.amt,
.edit-amt {
  justify-content: center;
}

.income,
#balance,
.outgo {
  font-size: 1.2em;
}

.text,
.amt,
input {
  padding: 10px;
}

div,
ul,
body {
  flex-direction: column;
}

input,
button,
li,
li span {
  height: 50px;
}

/* -- rads -- */

/* ------------------------------------------------------------------------

    TAGS 

------------------------------------------------------------------------ */

ul {
  list-style: none;
  padding: 0;
  border-radius: 20px;
  margin: 0;
}

li {
  text-transform: capitalize;
}

input {
  color: black;
}

footer {
  height: var(--footerHeight);
  flex-direction: column-reverse;
  padding: 10px;
}

button {
  color: white;
}

li[data="give"] {
  border-left: 5px solid blue;
}

li[data="debt"] {
  border-left: 5px solid rgb(225, 255, 0);
}

li[data="utility"] {
  border-left: 5px solid rgb(56, 253, 161);
}

li[data="wall"] {
  border-left: 5px solid rgb(0, 255, 255);
}

li[data="sub"] {
  border-left: 5px solid rgb(253, 102, 102);
}

li[data="other"] {
  border-left: 5px solid rgb(253, 102, 195);
}

/* ------------------------------------------------------------------------

    CLASSES 

------------------------------------------------------------------------ */

.grid {
  display: grid;
  grid-template-columns: auto 100px 60px;
}

.col-1 {
  grid-column: 1/2;
}

.col-2 {
  grid-column: 2/3;
}

.col-3 {
  grid-column: 3/4;
}

.delete {
  background: var(--body);
}

.submit {
  background: var(--submit);
}

.br {
  border-right: 1px var(--body) solid;
}

.err {
  display: none;
  position: absolute;
  width: auto;
  left: 20px;
  z-index: -1;
}

.err-msg {
  position: relative;
  font-size: 0.8em;
  color: red;
}

.title {
  z-index: -2;
}

.income {
  flex-direction: column-reverse;
}

/* ------------------------------------------------------------------------

    IDs 

------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------

    RESETS 

------------------------------------------------------------------------ */

.edit-text,
.edit-amt {
  display: none;
}
